{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": false,
      "objectLiteralDuplicateProperties": false
    }
  },

  "globals": {
    "$": false
  },

  "extends": "eslint:recommended",
  "rules": {
    "indent": [1, 2],
    "quotes": [1, "single"],
    "semi": [1, "always", { "omitLastInOneLineBlock": true }],
    "no-unused-vars": "warn"
  }
}
