.loginForm_cred {
  display: block;
  height: 100px;
  font-size: 12px;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  color: darkgoldenrod;
}
span {
  line-height: 24px;
}

.buttonSpinner {
  height: 50px;
}
