.loginPage {
  width: 500px;
  height: 500px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 15%;
  padding: 20px;
}
