body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(img/background.jpg);
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
}

.error {
  color: red;
}

.mtb-20 {
  margin: 20px 0;
}

.mt-10 {
  margin-top: 10px;
}

.w-200 {
  width: 200px;
}
.center {
  margin: 0 auto;
}

ul {
  padding: 0 !important;
}
